/*** ESSENTIAL STYLES ***/
.menu, .menu * { margin: 0; padding: 0; list-style: none; }
.menu { line-height:	1;  }
.menu ul { position:	absolute; top: -999em; width: 10em; /* left offset of submenus need to match (see below) */   }
.menu ul li { width:	100%; }
.menu li:hover { visibility:	inherit; /* fixes IE7 'sticky bug' */ }
.menu li { float: left; position: relative; }
.menu a { display: block; position: relative; }
.menu li:hover ul, .menu li.sfHover ul { left: 0; top: 3em; /* match top ul list item height */ z-index: 99; }
ul.menu li:hover li ul, ul.menu li.sfHover li ul { top: -999em; }
ul.menu li li:hover ul, ul.menu li li.sfHover ul { left: 10em; /* match ul width */ top: 0; }
ul.menu li li:hover li ul, ul.menu li li.sfHover li ul { top:	-999em; }
ul.menu li li li:hover ul, ul.menu li li li.sfHover ul { left: 10em; /* match ul width */ top:	0; }

/*** DEMO SKIN ***/
.menu { float: left; margin-bottom: 1em; position:relative; font-family: "Trebuchet MS", Arial, sans-serif; text-transform: uppercase; color: #f1efe4; }
.menu a { padding: 0.6em 1em; text-decoration:none; background:url(../img/divider.png) no-repeat right center; text-shadow: 1px 1px 1px #000 ; }
.menu a, .menu a:visited { /* visited pseudo selector so IE6 applies text colour*/ color:	#f1efe4; }
.menu li {  }
.menu li li a{ background:		#E3E1CA;  border-bottom:		1px solid #5b5652;  text-transform: none; color:	#000 !important; text-shadow: 1px 1px 1px #999;}
.menu li li a:hover { background: #fff; }


.menu li li li a{ background:		#E3E1CA;  color:	#000;}
.menu li:hover, .menu li.sfHover, .menu a:focus, .menu a:hover, .menu a:active { background:		#1f1915; outline:		0; }


/*** arrows **/
.menu a.with-ul { padding-right: 	2.25em; min-width:		1px; /* trigger IE7 hasLayout so spans position accurately */ }
.sub-indicator { position:		absolute; display:		block; right:			.75em; top:			1.05em; /* IE6 only */ width:			10px; height:			10px; text-indent: 	-999em; overflow:		hidden; background:		url(../img/arrows-right.png) no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only */ }
a > .sub-indicator {  /* give all except IE6 the correct values */ top:			1.2em; background-position: 0 -100px; /* use translucent arrow for modern browsers*/ }
/* apply hovers to modern browsers */
a:focus > .sub-indicator, a:hover > .sub-indicator, a:active > .sub-indicator, li:hover > a > .sub-indicator, li.sfHover > a > .sub-indicator { background-position: -10px -100px; /* arrow hovers for modern browsers*/ }
/* point right for anchors in subs */
.menu ul .sub-indicator { background-position:  -10px 0; }
.menu ul a > .sub-indicator { background-position:  0 0; }
/* apply hovers to modern browsers */
.menu ul a:focus > .sub-indicator, .menu ul a:hover > .sub-indicator, .menu ul a:active > .sub-indicator, .menu ul li:hover > a > .sub-indicator, .menu ul li.sfHover > a > .sub-indicator { background-position: -10px 0; /* arrow hovers for modern browsers*/ }
/*** shadows for all but IE6 ***/
.shadow ul { background:	url(../img/shadow.png) no-repeat bottom right; padding: 0 8px 9px 0; -moz-border-radius-bottomleft: 17px; -moz-border-radius-topright: 17px; -webkit-border-top-right-radius: 17px; -webkit-border-bottom-left-radius: 17px; }
.shadow ul.shadow-off { background: transparent; }

/*;*/